# packages that are useful for local development and exploration, but are not needed for the deployed app
gradio_client
ipywidgets
nbformat
# exploratory data analysis
seaborn

#currently specifically for moral reasoning project
replicate
python-dotenv